.boton-contenedor{
    height: 60px;
    display: flex;
    flex: 1 1; /*Permite que todos los elementos sean iguales*/
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    background: #33393e;
    color: #eee;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.boton-contenedor:hover{
    background-color: #44494E;
}

.operador{
    background-color: #FA9B13;
}

.operador:hover{
    background-color: #a16107;
}

@media screen and (max-width: 600px) {
    .boton-contenedor{
        height: 60px;
        font-size: 30px;
        margin: 4px;
        
    }

}