.boton-resultado{
    height: 83px;
    display: flex;
    flex: 1 1; /*Permite que todos los elementos sean iguales*/
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #a1f9d0;
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-resultado:hover{
    background-color: #03C988;
}

@media screen and (max-width: 900px) {
    .boton-contenedor{
        height: 60px;
        font-size: 30px;
        margin: 2px;
        
    }

}

    
    