.boton-resultado{
    height: 83px;
    display: flex;
    flex: 1 1; /*Permite que todos los elementos sean iguales*/
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #FB7813;
    color: white;
    border-radius: 25px;
    border: 2px solid #333;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-resultado:hover{
    background-color: #FA9B13;
}

@media screen and (max-width: 600px) {
    .boton-resultado{
        height: 60px;
        font-size: 30px;
        margin: 4px;
        
    }

}

    
    