.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1; /*Permite que todos los elementos sean iguales*/
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #E84545;
    color: #FDEBED;
    border-radius: 25px;
    border: 1px solid #e0e0e0;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover{
    background-color: rgb(185, 112, 70);
}

.operador{
    background-color: #03C988;
}

.operador:hover{
    background-color: rgb(157, 199, 145);
}

@media screen and (max-width: 900px) {
    .boton-contenedor{
        height: 60px;
        font-size: 30px;
        margin: 2px;
        
    }

}