.App{
    
    height: 100vh;
    padding-top: 10px;
    background-color: #2B2E4A;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora{
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color:#53354A;
    border-radius: 20px;
    border: 1px solid #31355B;
}

.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .contenedor-calculadora{
        width: 300px;
        height: 500px;
        padding: 14px;
    }

    .fila{
        margin: 4px;
        
    }

}