.App{
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1F2544;
}



.contenedor-calculadora{
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
      -15px -15px 20px rgba(255, 255, 255, 0.1);
}

.fila{
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}



  .dark .contenedor-calculadora  .boton-contenedor {
    background: #33393e;
    color: #eee;
    border: 2px solid #19191a;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5),
      inset -15px -15px 20px rgba(255, 255, 255, 0.1);
  }

  .dark .contenedor-calculadora  .operador {
    background: #2196f3;
    color: #eee;
    border: 2px solid #eee;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5),
      inset -15px -15px 20px rgba(255, 255, 255, 0.1);
  }
  
  

@media screen and (max-width: 600px) {
    .contenedor-calculadora{
        width: 300px;
        height: 500px;
        padding: 14px;
    }

    
}